In [2]:
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier,RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB,BernoulliNB,ComplementNB,GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, roc_auc_score,classification_report
from sklearn.model_selection import GridSearchCV,RandomizedSearchCV
from sklearn.multioutput import MultiOutputClassifier

In [3]:
df=pd.read_csv('train.csv')

In [4]:
df

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,education,race,sex,income_poverty,marital_status,rent_or_own,employment_status,census_msa,household_adults,household_children
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,2,3,0,3,2,1,2,2,0.0,0.0
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,1,3,1,3,2,2,1,0,0.0,0.0
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,3,3,1,1,2,1,1,0,2.0,0.0
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,1,3,0,3,2,2,2,1,0.0,0.0
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,4,3,0,1,1,1,1,0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,26702,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,4,3,0,1,2,1,2,2,0.0,0.0
26703,26703,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,3,3,1,1,2,2,1,1,1.0,0.0
26704,26704,2.0,2.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,...,4,3,0,0,2,1,0,0,0.0,0.0
26705,26705,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,...,4,1,0,1,1,2,1,2,1.0,0.0
26706,26706,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,4,3,1,1,1,1,2,1,1.0,0.0

In [5]:
x=df.drop(['respondent_id'],axis=1)

In [6]:
x

,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_xyz,...,education,race,sex,income_poverty,marital_status,rent_or_own,employment_status,census_msa,household_adults,household_children
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,2,3,0,3,2,1,2,2,0.0,0.0
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,1,3,1,3,2,2,1,0,0.0,0.0
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,-1.0,...,3,3,1,1,2,1,1,0,2.0,0.0
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1,3,0,3,2,2,2,1,0.0,0.0
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,4,3,0,1,1,1,1,0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,4,3,0,1,2,1,2,2,0.0,0.0
26703,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,3,3,1,1,2,2,1,1,1.0,0.0
26704,2.0,2.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,...,4,3,0,0,2,1,0,0,0.0,0.0
26705,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,...,4,1,0,1,1,2,1,2,1.0,0.0
26706,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4,3,1,1,1,1,2,1,1.0,0.0

In [7]:
df2=pd.read_csv('training_set_labels.csv')

In [8]:
df2

       respondent_id  xyz_vaccine  seasonal_vaccine
0                  0            0                 0
1                  1            0                 1
2                  2            0                 0
3                  3            0                 1
4                  4            0                 0
...              ...          ...               ...
26702          26702            0                 0
26703          26703            0                 0
26704          26704            0                 1
26705          26705            0                 0
26706          26706            0                 0

[26707 rows x 3 columns]

In [9]:
y=df2[['xyz_vaccine','seasonal_vaccine']]

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [35]:

model = RandomForestClassifier(
    bootstrap=True,
    max_depth=20,
    min_samples_leaf=4,
    min_samples_split=10,
    n_estimators=300
)
multi_target_rf = MultiOutputClassifier(model, n_jobs=-1)

multi_target_rf.fit(x_train, y_train)

y_prob = multi_target_rf.predict_proba(x_test)

prob_df = pd.DataFrame({
    'output1_prob_0': y_prob[0][:, 0],  
    'output1_prob_1': y_prob[0][:, 1],  
    'output2_prob_0': y_prob[1][:, 0],  
    'output2_prob_1': y_prob[1][:, 1]   
})


y_pred = multi_target_rf.predict(x_test)

print("Classification Report for first output:")
print(classification_report(y_test.iloc[:, 0], y_pred[:, 0]))
print("Accuracy for first output:", accuracy_score(y_test.iloc[:, 0], y_pred[:, 0]))

print("\nClassification Report for second output:")
print(classification_report(y_test.iloc[:, 1], y_pred[:, 1]))
print("Accuracy for second output:", accuracy_score(y_test.iloc[:, 1], y_pred[:, 1]))

Classification Report for first output:
              precision    recall  f1-score   support

           0       0.86      0.96      0.91      4193
           1       0.78      0.44      0.56      1149

    accuracy                           0.85      5342
   macro avg       0.82      0.70      0.74      5342
weighted avg       0.84      0.85      0.84      5342

Accuracy for first output: 0.8526769000374391

Classification Report for second output:
              precision    recall  f1-score   support

           0       0.80      0.81      0.81      2895
           1       0.77      0.77      0.77      2447

    accuracy                           0.79      5342
   macro avg       0.79      0.79      0.79      5342
weighted avg       0.79      0.79      0.79      5342

Accuracy for second output: 0.7909022837888431

In [36]:

print("roc_auc for first output:", roc_auc_score(y_test.iloc[:, 0], y_pred[:, 0]))

print("roc_auc for second output:", roc_auc_score(y_test.iloc[:, 1], y_pred[:, 1]))

roc_auc for first output: 0.7039677385140014
roc_auc for second output: 0.7890892446639042

In [13]:
y_prob

      output1_prob_0  output1_prob_1  output2_prob_0  output2_prob_1
0           0.828902        0.171098        0.714001        0.285999
1           0.890064        0.109936        0.777584        0.222416
2           0.913748        0.086252        0.396083        0.603917
3           0.606034        0.393966        0.204359        0.795641
4           0.892170        0.107830        0.734043        0.265957
...              ...             ...             ...             ...
5337        0.960097        0.039903        0.939378        0.060622
5338        0.383902        0.616098        0.270590        0.729410
5339        0.879905        0.120095        0.565040        0.434960
5340        0.836469        0.163531        0.748444        0.251556
5341        0.842088        0.157912        0.797240        0.202760

[5342 rows x 4 columns]

In [14]:
test=pd.read_csv('test.csv')

In [15]:
resp=test['respondent_id']

In [16]:
test=test.drop(['respondent_id'],axis=1)

In [277]:
y1_pred=model.predict_proba(test)

In [17]:
yt_prob = multi_target_rf.predict_proba(test)

In [24]:
result = pd.DataFrame({
    'output1_prob_0': np.round(yt_prob[0][:, 0],1),  # Probabilities of class 0 for first output
    'output1_prob_1': np.round(yt_prob[0][:, 1],1),  # Probabilities of class 1 for first output
    'output2_prob_0': np.round(yt_prob[1][:, 0],1),  # Probabilities of class 0 for second output
    'output2_prob_1': np.round(yt_prob[1][:, 1],1)   # Probabilities of class 1 for second output
})

In [25]:
result

       output1_prob_0  output1_prob_1  output2_prob_0  output2_prob_1
0                 0.8             0.2             0.7             0.3
1                 1.0             0.0             1.0             0.0
2                 0.7             0.3             0.2             0.8
3                 0.4             0.6             0.1             0.9
4                 0.7             0.3             0.6             0.4
...               ...             ...             ...             ...
26703             0.7             0.3             0.5             0.5
26704             0.8             0.2             0.7             0.3
26705             0.9             0.1             0.8             0.2
26706             1.0             0.0             0.6             0.4
26707             0.4             0.6             0.4             0.6

[26708 rows x 4 columns]

In [27]:
result=result[['output1_prob_1','output2_prob_1']]

In [29]:
result=result.rename(columns={'output1_prob_1': 'xyz_vaccine','output2_prob_1':'seasonal_vaccine'})

In [30]:
result

       xyz_vaccine  seasonal_vaccine
0              0.2               0.3
1              0.0               0.0
2              0.3               0.8
3              0.6               0.9
4              0.3               0.4
...            ...               ...
26703          0.3               0.5
26704          0.2               0.3
26705          0.1               0.2
26706          0.0               0.4
26707          0.6               0.6

[26708 rows x 2 columns]

In [31]:
submit=pd.concat((resp,result),axis=1)

In [32]:
submit

       respondent_id  xyz_vaccine  seasonal_vaccine
0              26707          0.2               0.3
1              26708          0.0               0.0
2              26709          0.3               0.8
3              26710          0.6               0.9
4              26711          0.3               0.4
...              ...          ...               ...
26703          53410          0.3               0.5
26704          53411          0.2               0.3
26705          53412          0.1               0.2
26706          53413          0.0               0.4
26707          53414          0.6               0.6

[26708 rows x 3 columns]

In [34]:
submit.to_csv('submit.csv',index=False)